@import "tailwindcss";

:root {
  /* Light mode palette */
  --background: #ffffff;
  --foreground: #171717;
  /* Brand colors */
  --color-primary: #2BD9AF; 
  --color-secondary: #FF5E84;
  --card-bg: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode overrides */
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: var(--foreground);
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: var(--foreground);
}
